<h2 class="title">Hogwarts Student Register</h2>
<table>
  <tr>
  <th>id</th>
  <th>Name</th>
  <th>House</th>
  <th>Age</th>
  </tr>

<% for student in @students%>
<tr>
  <td><%= student.id %></td>
  <td><%= student.pretty_name %></td>
  <td><%= student.house.house %></td>
  <td><%= student.age %></td>
</tr>
<% end %>

</table>
